@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Roboto', sans-serif;
	background-image: url('../images/photo-1415859295608-27921edab0ac.jpg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
.form-control, .btn, .btn-lg, .btn-sm, .btn-xs {
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
}
.input-group-addon {
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#webfooter {
  background: #333;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}
#copyright{
  font-weight: 700;
  text-align: center;
}
.navbar-sun {
  background: #ffffff;
}
.navbar-sun .nav>li {
  border-left: 1px solid #e7e7e7;
  font-weight: 700;
}
.navbar-sun .nav>li a {
  color: black;
}
.navbar-sun .navbar-brand {
  padding: 5px 10px;
}

#webcontent {
  margin-top: 100px;
  background: rgba(255, 255, 255, .3);
  padding-top: 15px;
  padding-bottom: 15px;
}
#flight-search {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
#flight-search>h3 {
  margin: -15px -15px 15px -15px;
  padding: 15px;
  color: #ffffff;
  background: #d32f2f;
}
#flight-search .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#flight-search .input-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#flight-search .input-group.stack {
  display: block;
}
#flight-search .input-group#brgkt {
  margin-right: 0;
}
#flight-search .input-group#kmbl {
  margin-left: 0;
}
#flight-search .input-group-addon {
  width: 70px;
  text-align: left;
  line-height: 1.4;
  font-weight: 700;
}
#flight-search .input-group.stack .input-group-addon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  border-right: 1px solid #ccc;
}
#flight-search .form-inline .form-control {
  margin-bottom: 15px;
}
#flexsubmit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
#pricebox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#pricebox li {
  background: #ffffff;
  margin: 10px;
  width: 40%;
}
#pricebox a {
  color: #111111;
  display: block;
  font-family: 'Bree Serif', serif;
  padding: 10px;
  padding-bottom: 0;
}
#pricebox a:hover {
  text-decoration: none;
}
.asal {
  font-size: 24px;
  display: inline;
  margin-bottom: 0;
}
.to {
  font-size: 20px;
  display: inline;
  margin-left: 5px;
  color: #777777;
  margin-bottom: 0;
}
.tujuan {
  font-size: 24px;
  margin-top: -10px;
}
.harga {
  background: #f9a825;
  font-size: 30px;
  margin: 20px -10px 0 -10px;
  padding: 10px;
  color: #ffffff;
  text-align: right;
}

.containermd {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.containermd:after, .containermd:before {
  display: table;
  content: " ";
}
.containermd:after {
  clear: both;
}
@media (min-width: 1024px){
  .containermd {
      width: 994px;
  }
}