@charset "utf-8";
/* CSS Document */

body {
	/*background-image: url("../images/photo-1428954376791-d9ae785dfb2d.jpg");
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;*/
	font-family: 'Roboto', Arial, sans-serif;
	letter-spacing: -1px;
}